# ########## فایل‌های حساس ##########
# هرگز فایل .env که حاوی توکن‌ها و رمزهاست را کامیت نکنید
bot/.env
.env

# ########## محیط مجازی پایتون ##########
venv/
env/
*.venv

# ########## فایل‌های کش و کامپایل شده پایتون ##########
__pycache__/
*.pyc
*.pyo
*.pyd

# ########## فایل‌های پایگاه داده ##########
*.db
*.sqlite3
*.db-wal
*.db-shm

# ########## فایل‌های مربوط به سیستم‌عامل و ویرایشگر کد ##########
# سیستم‌عامل مک
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# ########## فایل‌های لاگ ##########
*.log

# ########## پوشه‌های مربوط به نصب پکیج‌ها ##########
/dist/
/build/
*.egg-info/